@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item{
    @apply px-4 py-1.5 rounded-full text-white/70 
    text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

    .hero-ring {
      @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-pink-300/5;
  
      box-shadow: inset 0 0 80px rgba(214, 46, 229, 0.25);
    }

        @keyframes wiggle-tilt {
    
          0%,
          100% {
            transform: rotate(-3deg);
          }
    
          50% {
            transform: rotate(3deg);
          }
        }
    
        .animate-tilt {
          animation: wiggle-tilt 3s ease-in-out infinite;
        }
}